{% if power_status == 0 %}
La televisione è spenta
{% elif power_status == 1%}
La televisione è accesa
{% elif power_status == -1 %}
Impossibile stabilire lo stato della televisione
{% endif %}

{% if action_successful == True %}
Il televisore ha eseguito il comando con successo
{% elif action_successful == False %}
Non si è stati in grado di eseguire il comando sul televisore
{% endif %}

